<header>
  <nav>
    <h1><a href="/">@{{ .Site.Author.handle }}</a>’s {{ .Site.Title }}.</h1>
    <div class="menu">
      {{ if isset .Site.Params "rsssections" }}

        {{ $.Scratch.Add "sections" .Site.Params.rsssections }}
        <ul>
          {{ range .Site.Menus.main }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ if in ($.Scratch.Get "sections") .Name }}
                  <a href="{{ .URL }}index.xml"><img src="/images/rss.png" class="rss-icon" /></a>
                {{ end }}
              </li>
          {{ end }}
          {{ with .Site.Author.aboutpage }}<li><a href="{{ . }}">About</a></li>{{ end }}
        </ul>
        <p class="site-rev">{{ .Site.LastChange.Format "2006-Jan-2 15:04 MST" }}{{ if .Site.Params.build }} &nbsp;&nbsp;&nbsp; Build {{ .Site.Params.build }}{{ end }}</p>
      {{ end }}
    </div>
  </nav>
</header>
